* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background: #191622;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

body, input, button {
  text-align: center;
  font: 600 16px 'Open Sans';
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main strong {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #E1E1E6;
}

button {
  width: 60%;
  border-radius: 5px;
  padding: 10px;
  background: #6633cc;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5A4B81;
}

button + button {
  margin-top: 10px;
}

#selectBtn {
  margin: 20px 0;
  background: #E96379;
  border: none;
  outline: none;
  transition: all 0.3s;
}

#selectBtn:hover {
  background: #FF79C6;
}

video {
  width: 70%;
  height: 80%;
  margin: 10px;
}
