* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #191622;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main strong {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #e1e1e6;
}

button {
  text-align: center;
  font: 600 16px 'Open Sans';
  border: none;
  outline: none;
  cursor: pointer;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  background: #6633cc;
  color: #fff;
  transition: background-color 0.3s;
}

button:hover {
  background: #5a4b81;
}

button + button {
  margin-top: 10px;
}

#selectBtn {
  margin: 20px 0;
  background: #e96379;
  transition: background-color 0.3s;
}

#selectBtn:hover {
  background: #ff79c6;
}

video {
  width: 100%;
  margin: 10px;
}
