* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #e1e1e6;
  background: #41414d;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

body,
input,
button {
  text-align: center;
  padding-top: 20px;
  font: 400 16px 'Roboto';
}

strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background: #6633cc;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}

button + button {
  margin-top: 10px;
}

#selectBtn {
  margin-top: 20px;
  background: blue;
  border: none;
  outline: none;
}

video {
  width: 100%;
}
