* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --bg: #191622;
  --text: #e1e1e6;
  --primary: #6633cc;
  --primary-hover: #5a4b81;
  --red: #e96379;
  --red-hover: #ff79c6;
  --blue: #0077ff;
}

body {
  background: var(--bg);
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140vh;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
}

body::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 4px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

header {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .heading {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin: 10px 20px 0 0 ;
  font-size: 35px;
  color: var(--text);
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
  transform: translateY(9px);
}

label::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: all 0.5s;
}

input:checked + label {
  background-color: var(--blue);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label::active:after {
  width: 45px;
}

button {
  text-align: center;
  font: 600 16px 'Open Sans';
  border: none;
  outline: none;
  cursor: pointer;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  background: var(--primary);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s;
}

button:hover {
  background: var(--primary-hover);
}

button + button {
  margin-top: 10px;
}

#selectBtn {
  margin: 20px 0;
  background: var(--red);
  transition: background-color 0.3s;
}

#selectBtn:hover {
  background: var(--red-hover);
}

video {
  width: 90%;
  margin: 10px;
}
